*{
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
}

.container {
    background-color: white;
    width: 60vh;
    height: 90vh;
    margin: 3rem auto;
    border-radius: 1rem;
}
.container img {
    display: block;
    justify-content: center;
    margin-top: 40px;
    width: 50vh;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 15%;
}

.improv {
    text-align: center;
}

.improv h3{
    font-size: 2rem;
    transform: translateY(-50px);
    color: hsl(218, 44%, 22%)
}
.improv p {
    color: hsl(220, 15%, 55%);
    transform: translateY(-70px);
    width: 40vh;
    margin: 3rem auto;
}
.attribution {
    transform: translateY(-100px);
}
